<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>vue練習</title>
    <link rel="stylesheet" href="./css/style.css">
    <script src="./lib/vue.js"></script>
</head>
<body>

    <h1>checkboxの挙動</h1>
    <div id="app">
        <label for="text">同意</label>
        <input id="text" type="checkbox" v-model="myCheck">
        <input type="submit" value="送信" :disabled="myCheck == false">
        <div>
            赤<input type="checkbox" value="red" v-model="valueDisp">
            青<input type="checkbox" value="blue" v-model="valueDisp">
            緑<input type="checkbox" value="green" v-model="valueDisp">
            <p>選択したのは{{valueDisp}}</p>
        </div>
    </div>

<script>

    new Vue({
        el: "#app",
        data: {
            myCheck: false,
            valueDisp: []
        }
    })

</script>
</body>
</html>