<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>vue練習｜coumputed</title>
    <link rel="stylesheet" href="./css/style.css">
    <script src="./lib/vue.js"></script>
</head>
<body>

    <section>
        <h1>computedの練習</h1>
        <div id="app">
            <input v-model.number="price1" type="number">円
            <p>消費税込みの金額 {{ taxInclude1 }}円</p>

            <input v-model.number="price2" type="number">円×
            <input v-model.number="count" type="number">個
            <p>合計 {{ sum }}円</p>
            <p>税込み合計 {{ taxInclude2 }}円</p>

            <p>↓↓↓↓↓感想を入力してください。</p>
            <textarea v-model="myText" cols="30" rows="10"></textarea>
            <p v-bind:style="{color: computedColor}">残り{{ remaining }}文字</p>

            <p>文字を入力すると該当するリストが絞りこまれる</p>
            <ul>
                <input v-model="findWord">
                <li v-for="item in findItems">{{ item }}</li>
            </ul>
        </div>
    </section>

<script>

    new Vue({
        el: "#app",
        data: {
            price1: 100,
            price2: 100,
            count: 1,
            myText: 'テキストテキストテキストテキスト',
            findWord: '',
            items: ['桃太郎', '花坂じいさん', '浦島太郎', 'kaguyahime', 'かちかち山']
        },
        computed: {
            // priceが変更されたら、消費税込み金額を算出
            taxInclude1: function() {
                return this.price1 * 1.08;
            },
            sum: function() {
                return this.price2 * this.count;
            },
            taxInclude2: function() {
                return this.sum * 1.08;
            },
            // myTextの長さが変わったら、残りの文字数を算出
            remaining: function() {
                return 30 - this.myText.length;
            },
            // remainingが変わったら、computedColorを算出
            computedColor: function() {
                col = "green";
                if (this.remaining < 20) {
                    col = "orange";
                }
                if (this.remaining < 10) {
                    col = "red";
                }
                return col;
            },
            findItems: function() {
                // this.findWordが変わったら、その文字が含まれるリストを算出
                if (this.findWord) {
                    return this.items.filter(function(val) {
                        return (val.indexOf(this.findWord) > -1);
                    }, this);
                } else {
                    // this.findWordがからの場合は、リストそのまま返す
                    return this.items;
                }
            }
        }
    })

</script>
</body>
</html>