<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>if文</title>
    <link rel="stylesheet" href="./css/style.css">
    <script src="./lib/vue.js"></script>
</head>
<body>

    <section>
        <h1>条件分岐</h1>
        <div id="app">
                <input id="hoge" type="checkbox" v-model="isCheck">
                <label for="hoge" @click="delElement">チェック</label>
                <p v-if="isCheck">checkしたので表示</p>
                <p v-else>checkされていないため非表示です</p>
        </div>
    </section>

    <script>

        new Vue({
            el: '#app',
            data: {
                isCheck: false
            },
            methods: {
                delElement: function() {
                    this.isCheck = false
                }
            }
        })
    </script>
</body>
</html>